/* USED only in STANDALONE mode */

/* global styles */
@import 'node_modules/primeicons/primeicons.css';
@import 'node_modules/primeflex/primeflex.scss';

// This does not work if located inside the app
.p-autocomplete-panel .p-autocomplete-items {
  .p-autocomplete-item:nth-child(even) {
    background-color: var(--table-body-row-even-bg);
  }
}

label.help-required-label:after {
  color: #d00;
  content: '*';
  margin-left: 1px;
}

:root {
  font-size: 14px;
}

.p-button.p-button-text:enabled:focus {
  background: rgba(var(--primary-color-rgb), 0.12);
}

.p-button.p-button-text.p-dialog-close-button:enabled:focus {
  background: #ffffff;
}
